[default]
TITLE = "PyTradeGames"
EXTENSIONS = [
    'PyTradeGames.ext.database:init_app',
    'PyTradeGames.ext.database.migration:init_app',
    'PyTradeGames.ext.admin:init_app',
    'PyTradeGames.ext.cli:init_app',

    'PyTradeGames.blueprints.webui:init_app'
]
FLASK_ADMIN_SWATCH = 'lumen'


[development]
DEBUG = true
SQLALCHEMY_DATABASE_URI = "sqlite:///dev_database.db"