[default]
TITLE = "PyTradeGames"
EXTENSIONS = [
    'PyTradeGames.ext.database:init_app',
    'PyTradeGames.ext.commands:init_app'
]

[development]
DEBUG = true
SQLALCHEMY_DATABASE_URI = "sqlite:///dev_database.db"