{%  extends "layout.html" %}

{% block title %}Add Games{% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/content.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/games.css')}}">
{% endblock %}

{% block nav_home %}white{% endblock %}
{% block nav_users %}white{% endblock %}
{% block nav_games %}secondary{% endblock %}

{% block main %}
    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmationModalLabel">Add Game</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('webui.add_game')}}" method="post">
                        {{ form.csrf_token }}
                        {{ form.game_id(value="1") }}
                        {{ form.game.label }}
                        {{ form.game(class="form-control", disabled=True, value="Teste") }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-md">
        <div class="row mt-5 mb-2">
            <h1 class="headers">
                Games
            </h1>
        </div>
        <div class="row">
            <p class="headers">To add a game to your collection, you must be logged in, then search for a game on the table below and click on the + icon.</p>
        </div>
        <div class="row">
            {% if games %}
                <div class="container-fluid px-5 game-table">
                    <table class="table table-hover mt-2 table-bordered table-light text-center table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"><input type="text" class="search-input" placeholder="Search: Name"></th>
                                <th scope="col"><input type="text" class="search-input" placeholder="Search: Genre"></th>
                                <th scope="col"><input type="text" class="search-input" placeholder="Search: Console"></th>
                                {% if current_user.is_authenticated %}
                                    <th scope="col">Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for game in games %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{game.name}}</td>
                                    <td>{% for genre in game.genres %}{{genre.genre}}{% if not loop.last %}; {% endif %}{% endfor %}</td>
                                    <td>{% for console in game.consoles %}{{console.name}}{% if not loop.last %}; {% endif %}{% endfor %}</td>
                                    {% if current_user.is_authenticated %}
                                        {% if game not in current_user.games %}
                                            <td><button class="btn btn-warning w-50" data-bs-toggle="modal" data-bs-target="#confirmationModal">+</button></td>
                                        {% else %}
                                            <td><button class="btn btn-danger w-50" data-bs-toggle="modal" data-bs-target="#confirmationModal">-</button></td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="mt-2 px-4">
                    0 games found.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".search-input").forEach(inputField=> {
                const tableRows = inputField.closest("table").querySelectorAll("tbody tr");
                const headerCell = inputField.closest("th");
                const otherHeaderCells = inputField.closest("tr").querySelectorAll("th");
                const columnIndex = Array.from(otherHeaderCells).indexOf(headerCell);
                const searchableCells = Array.from(tableRows)
                    .map(row => row.querySelectorAll("td")[columnIndex-1]);
                
                inputField.addEventListener("input", () => {
                    const searchQuery = inputField.value.toLowerCase();

                    for (const tableCell of searchableCells) {
                        const row = tableCell.closest("tr");
                        const value = tableCell.textContent
                            .toLowerCase();
                        
                        row.style.visibility = null;

                        if (value.search(searchQuery) === -1) {
                            row.style.visibility = "collapse";
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}