{%  extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
{% endblock %}

{% block main %}
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </main>  
{% endblock %}