{%  extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
{% endblock %}

{% block main %}
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}


        <div class="container-fluid overflow-hidden text-center px-sm-5" style="padding-bottom: 10px;">
            <div class="row">
                <div class="col-sm-12 py-5 py-sm-6">
                    <div class="content content-above">1 of 2</div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-xxl-4 gy-3 g-sm-5">
                <div class="col">
                    <div class="content content-below">
                        <p>Step 1#</p>
                        <p>Register a new user and log in.</p>
                        <img src="{{url_for('static', filename='image/register_user.jpg')}}" alt="Register page image" width="200" height="200" style="border-radius: 10px; 
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);">
                    </div>
                </div>
                <div class="col">
                    <div class="content content-below">
                        <p>Step 2#</p>
                        <p>Register your games that you are willing to trade.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="content content-below">
                        <p>Step 3#</p>
                        <p>Search for the games you want and negotiate trades with other users.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="content content-below">
                        <p>Step 4#</p>
                        <p>Rate and be rated by other users to build reputation.</p>
                    </div>
                </div>
            </div>
        </div>

    </main>  
{% endblock %}