{%  extends "layout.html" %}

{% block title %}{{ current_user.username }}{% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/content.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
{% endblock %}

{% block nav_home %}white{% endblock %}
{% block nav_users %}white{% endblock %}
{% block nav_games %}white{% endblock %}

{% block main %}
    <div class="container-md">
        <div class="row mt-5 mb-2">
            <h1 class="headers">
                {{current_user.username}}
            </h1>
        </div>
        <div class="row">
            <h6 class="headers header-since">
                Since {{current_user.since.date()}}
            </h6>
        </div>
        <div class="row">
            <h5 class="headers header-reviews">
                Reviews (quant)
            </h5>
        </div>
        <div class="row mt-5">
            <h3 class="headers">
                Games
            </h3>
            {% with games = current_user.games %}
                {% if games %}
                    <div class="container-fluid px-5">
                        <table class="table table-hover mt-2 text-center">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Genre</th>
                                    <th scope="col">Console</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for game in games %}
                                    <tr>
                                        <th scope="row">{{loop.index}}</th>
                                        <td>{{game.name}}</td>
                                        <td>{% for genre in game.genres %}{{genre.genre}}{% if not loop.last %}; {% endif %}{% endfor %}</td>
                                        <td>{% for console in game.consoles %}{{console.name}}{% if not loop.last %}; {% endif %}{% endfor %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="mt-2 px-4">
                        0 games found.
                    </p>
                {% endif %}
            {% endwith %}
            <div class="container-fluid text-center my-3">
                <a href="{{url_for('webui.games')}}"><button type="button" class="btn btn-warning btn-lg">All Games</button></a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="container-fluid">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active headers" id="nav-trades-tab" data-bs-toggle="tab"    data-bs-target="#nav-trades" type="button" role="tab" aria-controls="nav-trades"     aria-selected="true">Trades</button>
                        <button class="nav-link headers" id="nav-reviews-tab" data-bs-toggle="tab"    data-bs-target="#nav-reviews" type="button" role="tab" aria-controls="nav-reviews"     aria-selected="false">Reviews</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-trades" role="tabpanel" aria-labelledby="nav-trades-tab" tabindex="0">
                        <div class="list-group">
                            {% if trades %}
                                {% for trade in trades %}
                                    <a href="{{url_for('webui.trade', trade_id=trade.id)}}" class="list-group-item border-3 mb-2">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <h3 class="content mt-3"><strong>Trade {{trade.id}}</strong>{% if unread_messages[trade.id] > 0 %} - <span class="badge text-bg-warning">{{ unread_messages[trade.id] }} new messages</span> {% endif %}</h3>
                                            </div>
                                            <div class="row mb-3">
                                                <h6 class="content" style="font-size: small;">Date: <strong>{{trade.initial_datetime.date()}}</strong></h6>
                                                <h6 class="content" style="font-size: small;">Status: <strong>{% if trade.status == 'open' %} Open {% elif trade.status == 'closed' %} Closed and waiting for {{ trade.start_user.username }} to rate {{ trade.end_user.username }} {% else %} Finished {% endif %}</strong></h6>
                                            </div>
                                            <div class="row justify_content_between">
                                                <p class="content w-50">From: <strong>{{trade.start_user.username}}</strong></p>
                                                <p class="content w-50">Game offered: <strong>{{trade.start_game.name}}</strong></p>
                                            </div>
                                            <div class="row justify_content_between">
                                                <p class="content w-50">To: <strong>{{trade.end_user.username}}</strong></p>
                                                <p class="content w-50">Game requested: <strong>{{trade.end_game.name}}</strong></p>
                                            </div>
                                        </div>
                                    </a href="#">
                                {% endfor %}
                            {% else %}
                                <li class="list-group-item border-3">No trades found for this user.</li>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab" tabindex="0">
                        <h4 class="content mb-3 mt-2 px-3" style="text-shadow: 1px 1px black;">Average Rating: X</h4>
                        {% for rev in reviews %}
                            <div class="list-group">
                                <div class="list-group-item border-3 mb-2 rounded">
                                    <div class="container-fluid">
                                        <p class="content my-0 py-0">Rating: 
                                            <i class="fs-3 mx-2">
                                                {% for i in range(rev.grade) %}
                                                    <span style="color: gold; filter: drop-shadow(0 0 0.75rem crimson);">★</span>
                                                {% endfor %}
                                                {% for i in range(5 - rev.grade) %}
                                                    <span style="color: gray; filter: drop-shadow(0 0 0.75rem crimson);">★</span>
                                                {% endfor %}
                                            </i>
                                        </p>
                                        <p class="content my-0 py-0">From: <strong>{{rev.from_user.username}}</strong></p>
                                        <p class="content my-0 py-0">Message: <strong>{{rev.message}}</strong></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}