{%  extends "layout.html" %}

{% block title %}{{ current_user.username }}{% endblock %}

{% block link_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
{% endblock %}

{% block main%}
    <div class="container-md">
        <div class="row">
            <h1>{{current_user.username}}</h1>
        </div>
        <div class="row">
            <h6 class="since">Since {{current_user.since.date()}}</h6>
        </div>
        <div class="row">
            <h5>Reviews (quant)</h5>
        </div>
        <div class="row">
            <h3>Games</h3>
            <div class="container-fluid px-5">
                <table class="table table-striped table-hover table-dark table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Console</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th scope="row">1</th>
                            <td>Jogo 1</td>
                            <td>Genre 1</td>
                            <td>Console 1</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jogo 2</td>
                            <td>Genre 2</td>
                            <td>Console 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"   aria-selected="true">Messages</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"     aria-selected="false">Reviews</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                        Message 1
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                        Review 1
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}