{%  extends "layout.html" %}

{% block title %}Trade {{trade.id}}{% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/content.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/trade.css')}}">
{% endblock %}

{% block nav_home %}white{% endblock %}
{% block nav_users %}white{% endblock %}
{% block nav_games %}white{% endblock %}

{% block main %}
<div class="container-md">
    <div class="row mt-5 mb-2">
        <h1 class="headers">
            Trade #{{trade.id}}
        </h1>
    </div>
    <div class="row">
        <h6 class="headers header-since">
            Date: {{trade.initial_datetime.date()}}
        </h6>
    </div>
    <div class="row">
        <h5 class="headers header-reviews">
            Status: {{trade.status}}
        </h5>
    </div>
    <div class="row my-5 justify-content-between">
        <div class="col" id="user_from">
            <h3 class="headers mb-3">From: {{trade.start_user.username}}</h3>
            <h5 class="headers">Game Offered: {{trade.start_game.name}}</h5>
        </div>
        <div class="col" id="user_to">
            <h3 class="headers mb-3">To: {{trade.end_user.username}}</h3>
            <h5 class="headers">Game Requested: {{trade.end_game.name}}</h5>
        </div>
    </div>
    <div class="row">
        <h2 class="headers w-100 mb-2">Messages</h2>
        <div class="w-100">
            <ul class="list-unstyled border border-3 p-3 rounded message-div">
                {% if messages %}
                    {% for msg in messages %}
                    <li class="d-flex mb-4">
                            {% if current_user.id == msg.from_user.id %}<div class="w-50"></div>{% endif %}
                            <div class="card card-div">
                                <div class="card-header d-flex justify-content-between p-3">
                                    <p class="fw-bold mb-0 overflow-x-hidden">{{msg.from_user.username}}</p>
                                    <p class="text-mutes small mb-0 time-text pt-1"><i class="far fa-clock"></i>{{msg.date.strftime('%Y/%m/%d - %H:%M')}}</p>
                                </div>
                                <div class="card-body">
                                    <p class="mb-0">
                                        {{msg.content}}
                                    </p>
                                </div>
                            </div>
                            {% if current_user.id == msg.to_user.id %}<div class="w-50"></div>{% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row mt-3 w-100 float-end form-div">
        <form action="{{url_for('webui.post_message')}}" method="post">
            {{ message_form.csrf_token }}
            <div class="form-floating mb-2">
                {{message_form.message(class="form-control msg_input", placeholder="Message")}}
                {{message_form.message.label(class="form-label")}}
            </div>
            <button type="submit" class="btn btn-info btn-rounded float-end">Post Message</button>
        </form>
    </div>
</div>
{% endblock %}