{%  extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block link_css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/content.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/users.css')}}">
{% endblock %}

{% block nav_home %}white{% endblock %}
{% block nav_users %}secondary{% endblock %}
{% block nav_games %}white{% endblock %}

{% block main %}
    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmationModalLabel">Choose the games and start the trade.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addGame" action="{{url_for('webui.start_trade')}}" method="post">
                        {{ form.csrf_token }}
                        {{ form.start_user }}
                        {{ form.start_game }}
                        {{ form.end_user }}
                        {{ form.end_game }}

                        <div class="row container-fluid justify-content-evenly">
                            <div id="start-user" class="col container-fluid">
                                <div class="form-floating">
                                    <input type="text" name="start_user_input" id="start_user_input" class="mb-3 form-control" readonly value = "{{current_user.username}}" style="font-weight: bold;">
                                    <label for="start_user_input">From</label>
                                </div>
                                <div class="form-floating">
                                    <select required class="form-select" name="start_game_input" id="start_game_input">
                                        <option value=""></option>
                                        {% for game in current_user.games %}
                                            <option value="{{game.id}}">{{game.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="start_game_input">Game Offer</label>
                                </div>
                            </div>
                            <div id="end-user" class="col container-fluid">
                                <div class="form-floating">
                                    <input type="text" name="end_user_input" id="end_user_input" class="mb-3 form-control" readonly style="font-weight: bold;">
                                    <label for="end_user_input">To</label>
                                </div>
                                <div class="form-floating">
                                    <select required class="form-select" name="end_game_input" id="end_game_input">
                                        <option value=""></option>
                                    </select>
                                    <label for="end_game_input">Game Request</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between px-5">
                    <button type="button" class="btn btn-danger w-auto modalButton" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary w-auto modalButton" form="addGame">Trade</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-md">
        <div class="row mt-5 mb-2">
            <h1 class="headers">
                Users
            </h1>
        </div>
        <div class="row">
            <p class="headers w-75">After log in, search for users who have the games you are looking for, and start a conversation using the Start Trade icon.</p>
        </div>
        <div class="row">
            {% if users %}
                <div class="container-fluid px-5 game-table">
                    <table class="table table-hover mt-2 mb-5 table-bordered text-center table-responsive shadow">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"><input id="username-input" type="text" class="search-input" placeholder="Search: Username"></th>
                                <th scope="col">Registered Since</th>
                                <th scope="col"><input id="games-input" type="text" class="search-input" placeholder="Search: Games"></th>
                                <th scope="col">Reviews</th>
                                {% if current_user.is_authenticated %}
                                    <th scope="col">Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for user in users %}
                                {% if user.username != "admin" %}
                                    <tr>
                                        <th scope="row" class="tableRows">{{loop.index - 1}}</th>
                                        <td>{{user.username}}</td>
                                        <td>{{user.since.date()}}</td>
                                        <td>
                                            {% if user.games %}
                                                {% for game in user.games %}
                                                    {{game.name}}{% if not loop.last %}<br>{% endif %}
                                                {% endfor %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>reviews</td>
                                        {% if current_user.is_authenticated %}
                                            {% if user.id != current_user.id %}
                                                <td>
                                                    <button class="btn btn-warning w-100 button-action" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-bs-id="{{user.id}}" data-bs-name="{{user.username}}" data-bs-myuser="{{current_user.id}}" data-bs-games="{% for game in user.games %}{{game.id}},{{game.name}}{% if not loop.last %};{% endif %}{% endfor %}">Start Trade</button>
                                                </td>
                                            {% else %}
                                                <td>
                                                    -
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="mt-2 px-4">
                    No users found.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{url_for('static', filename='js/searchableFields.js')}}"></script>
    <script src="{{url_for('static', filename='js/usersModal.js')}}"></script>
{% endblock %}