.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    margin-bottom: -60px; 
}

@media (max-width: 600px) {

    .footer {
        font-size: 0.6rem;
    }

    .home-icon {
        width: 24px;
        height: 20px;
    }

    footer ul svg {
        width: 15px;
        height: 15px;
    }
}
