@media (max-width: 575px){
    header ul {
        padding-left: 0px !important;
    }
}

@media (min-width: 640px) and (max-width: 992px) {
    header ul {
        padding-right: 40px !important;
    }

    header, nav {
        height: 50px;
    }
}

@media (min-width: 768px) {
    header, nav {
        height: 60px;
    }
}