html, body, main {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    margin-bottom: 60px; /* Margin bottom by the footer height */
    background: rgb(131,157,154);
    background: linear-gradient(135deg, rgba(131,157,154,1) 0%, rgba(200,200,200,1) 52%, rgba(255,255,255,1) 100%);
    position: relative;
}