{%  extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block link_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/center-form.css')}}">
{% endblock %}

{% block nav_home %}white{% endblock %}
{% block nav_users %}white{% endblock %}
{% block nav_games %}white{% endblock %}

{% block main %}
    {% if form.username.errors %}
        <div class="alert p-0">{{ error }}
            <ul class="list-group">
                {% for error in form.username.errors %}
                    <li class="list-group-item list-group-item-warning mt-1 mx-5">
                        {{error}}
                    </li>
                {% endfor %}    
            </ul>
        </div>
    {% endif %}
    {% if form.password.errors %}
        <div class="alert p-0">{{ error }}
            <ul class="list-group">
                {% for error in form.password.errors %}
                    <li class="list-group-item list-group-item-warning mt-1 mx-5">
                        {{error}}
                    </li>
                {% endfor %}    
            </ul>
        </div>
    {% endif %}

    <div class="center-form text-center">
        <form class="w-100" action="{{url_for('webui.login')}}" method="post">
            {{ form.csrf_token }}
            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-fire mb-4" viewBox="0 0 16 16" style="color: rgb(255, 197, 7);">
                <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
            </svg>
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            <div class="form-floating">
                {{ form.username(class="form-control", placeholder="Username") }}
                {{ form.username.label }}
            </div>
            <div class="form-floating">
                {{ form.password(class="form-control pw-field", placeholder="Password") }}
                {{ form.password.label }}
                <input class="pw-icon" type="checkbox" name="pw-toggle" id="pw-toggle">
            </div>
            {{ form.next(value=next) }}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        // Gather DOM Referencies
        var password = document.querySelector('#{{form.password.id}}');
        var toggle = document.querySelector('#pw-toggle');

        // Capture event
        toggle.addEventListener('click', handleToggle, false);

        // Handling event
        function handleToggle(event) {
            if (this.checked) {
                password.type = 'text';
            } else {
                password.type = 'password';
            }
        }
    </script>
{% endblock %}
